.DS_Store
.idea/
.vscode/
*.log
*.pid
*.tmp

bench-results/
tmp/
data/
**/data/

**/target/
**/build/
**/out/
**/dist/
**/node_modules/

redis-proxy-dataplane-go/redis-proxy-dataplane-go
redis-proxy-dataplane-go/proxy
